<div class="hero min-h-screen bg-base-200" data-theme="bumblebee">
  <div class="flex-col hero-content lg:flex-row-reverse">
    <%= image_tag('content.jpg', class:"max-w-xs rounded-lg shadow-2xl")%>
    <div>
      <h1 class="mb-5 text-5xl font-bold">
        Buy or Sell Products Near you.  
      </h1>
      <p class="mb-5">
        Search for sellers near you:
      </p>
      <div class="flex flex-col justify-items-center content-center sm:flex-row">
      <%= search_form_for @q do |f| %>
      <div>
          <%= f.label :location, class:"block text-sm mt-2 font-medium text-gray-600" %>
          <div class="flex flex-row justify-center gap-x-2.5">
          
            <select id="states-of-country" name="user[region]" class="w-6/12 border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-orange-primary focus:ring-1 focus:ring-orange-primary">
              <option id="no-state" value="" selected>Select Region</option>
              
              /* For states within US */
              <% CS.states(:ph).each do |key, value| %>
                <option value="<%= value %>" id="<%= key %>"><%= value %></option>
              <% end %>
            </select>
                  
            <select id="cities-of-state" name="user[city]" class="w-6/12 border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-orange-primary focus:ring-1 focus:ring-orange-primary" required>
              <option value="" selected>Select City</option>
            </select>
          </div>
          </div>
        <%= f.submit %>
      <% end %>
    
      </div>
    </div>
  </div>
</div>
