<% if @seller_page %>
    <h1>Welcome to Your Seller Page!</h1>
    <br>
    <p>Name: <%= @seller_page.business_name %></p>
    <p>Info: <%= @seller_page.business_info %></p>
    <p>Seller phone number: +63<%= @seller_page.phone_number %></p>
    <p>Verified? <%= @seller_page.verified %></p>
    <p>Region: <%= @seller_page.region %></p>
    <p>City: <%= @seller_page.city %></p>
    <% if @seller_page.user_id == current_user.id %>
        <%= link_to 'Edit Seller Page', edit_seller_page_path(@seller_page) %>
        <br>
        <%= link_to "Delete Seller Page", seller_page_path(@seller_page), method: :delete, data: { confirm: "Are you sure you want to delete your seller page?"} %>  
        <br>
        <%= link_to 'Add new product', new_seller_page_product_path(@seller_page) %>
        <br>
        <%= link_to 'View your products', seller_page_products_path(@seller_page) %>
        <br>
        <%= link_to 'View reviews of your seller page', seller_page_reviews_path(@seller_page) %>
    <% else %>
        <%= link_to 'View seller products', seller_page_products_path(@seller_page) %>
        <br>
        <%= link_to 'Write a review for this seller page', new_seller_page_review_path(@seller_page.id) %>
        <br>
        <%= link_to 'View all seller page reviews', seller_page_reviews_path(@seller_page.id) %>
    <% end %>
    <br>
    <%= link_to "Back", root_path %>
<% end %>