<%= form_for([@product.seller_page, @product]) do |form| %>


<div class="card shadow-2xl bg-gray-50">
  <div class="card body px-10 py-10">
  <div class="flex justify-center">
    <div class="card shadow-inner lg:card-side bg-primary text-primary-content w-full mb-4" data-theme="bumblebee">
      <div class="card-body">
      <%if current_page?(new_seller_page_product_path)%>
        <h1 class="text-center text-3xl font-bold flex justify-center items-center">Add new Product <i class='bx bxs-note ml-4'></i></h1>
        <% else %>
        <h1 class="text-center text-3xl font-bold flex justify-center items-center">Edit Product <i class='bx bxs-edit-alt ml-4' ></i></i></h1>
        <% end %>
      </div>
    </div>
  </div>
    <div class="form-control" data-theme="bumblebee">

      <label class="label">Product Name</label>
      <div class="flex flex-col justify-center gap-x-2.5">
        <%= form.text_field :product_name, autofocus: true, autocomplete: "business name", class:"w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-orange-primary focus:ring-1 focus:ring-orange-primary"%>
      </div>
      <div class="form-control" data-theme="bumblebee">
      <label class="label">Product Price</label>
      <div class="flex flex-col justify-center gap-x-2.5">
        <%= form.text_field :price, autofocus: true, autocomplete: "business name", class:"w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-orange-primary focus:ring-1 focus:ring-orange-primary"%>
      </div>
      <div class="form-control" data-theme="bumblebee">
      <label class="label">Product Description</label>
      <div class="flex flex-col justify-center gap-x-2.5">
        <%= form.text_area :product_description, autofocus: true, autocomplete: "product description",placeholder:"Product Description", class:"textarea textarea-bordered w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-orange-primary focus:ring-1 focus:ring-orange-primary"%>
      </div>
      <div class="form-control">
        <%= form.label :available, class:"label" %>
        <div class="flex flex-col justify-center gap-x-2.5">
        <%= form.select :available, Product::AVAILABILITY,{}, class:" border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-orange-primary focus:ring-1 focus:ring-orange-primary"%>
        </div>
      </div>
      <div class="form-control" data-theme="bumblebee">
      <label class="label">Product Image(Optional)</label>
      <div class="flex flex-col justify-center">
      
        <%= form.file_field :image, accept: "image/jpeg, image/jpg, image/png", class:"w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-orange-primary focus:ring-1 focus:ring-orange-primary"%>
      </div>
      </div>
          <%= form.submit class:"btn btn-primary-content shadow-lg mt-4"%>
        </div>
        
  </div>
<% end %>