
<div class="card bordered">
  <div class="card-body">
    <% if @products.present? %>
      <div class="flex justify-between items-center">
      <%= link_to :back, class:"btn btn-primary-content" do %>
    <i class='bx bx-arrow-back text-lg' ></i>
    <% end %><%= paginate @products %>
      </div>
      <% @products.each do |product| %>
        <div class="card lg:card-side bordered mb-6 mt-6" data-theme="bumblebee">
          <figure>
            <% if product.image.present? %>
              <%= image_tag product.image_url(:large)%>
            <% end %>
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= product.product_name %>
            <% if product.available? %>
      
            <div class="badge badge-success mx-2">In Stock!</div>
            <% else %>
            <div class="badge badge-error mx-2">Out of Stock!</div>
            <% end %>
            </h2>
            <p><%= product.product_description %></p>
            <div class="card-actions">
              <% if product.available? %>
             <% if @seller_page.user.id == current_user.id %>
                    <%= link_to edit_seller_page_product_path(@seller_page, product), class:"btn btn-primary" do%>
                Edit Product
                <% end %>
                      <% else %>
                    <%= link_to @seller_page.messenger_url, target: :_blank, class:"btn btn-primary" do%>
                Contact Seller
                <% end %>
                    <% end %>
              <% else %>
              <% if @seller_page.user.id == current_user.id %>
                    <%= link_to edit_seller_page_product_path(@seller_page, product), class:"btn btn-primary" do%>
                Edit Product
                <% end %>
                      <% else %>
              <div data-tip="Product is out of stock" class="tooltip tooltip-bottom">
                <button class="btn btn-disabled">Contact Seller</button>
                </div>
                <% end %>
              <% end %>
              <label for="<%=product.id%>" class="btn btn-ghost modal-button">More info</label>
              <input type="checkbox" id="<%=product.id%>" class="modal-toggle">
              <div class="modal" data-theme="bumblebee">
                <div class="modal-box">
                  <div class="stats border border-base-300 mb-2">
                    <div class="stat">
                      <div class="stat-title">Product Name</div>
                      <div class="stat-value break-all"><%= product.product_name%></div>
                      <div class="stat-actions">
                        <% if product.available? %>
                          <div class="badge badge-primary"> In Stock! </div>
                        <% else %>
                          <div class="badge badge-error"> Out of Stock! </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="stat">
                      <div class="stat-title">Price</div>
                      <div class="stat-value break-all">₱ <%= product.price%></div>
                      <div class="stat-actions">
                        <% if @seller_page.verified? %>
                          <div class="badge badge-info"> Verified Seller </div>
                        <% else %>
                          <div class="badge badge-info"> Seller not Verified </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="stats shadow">
                    <div class="stat">
                      <div class="stat-title">Description</div>
                      <div class="stat-desc break-normal"><%=product.product_description%></div>
                    </div>
                  </div>
                  <div class="modal-action">

                    <% if @seller_page.user.id == current_user.id %>
                    <%= link_to edit_seller_page_product_path(@seller_page, product), class:"btn btn-primary" do%>
                Edit Product
                <% end %>
                      <% else %>
                    <%= link_to @seller_page.messenger_url, target: :_blank, class:"btn btn-primary" do%>
                Contact Seller
                <% end %>
                    <% end %>

                    <label for="<%=product.id%>" class="btn">Close</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <br>
    <% else %>
      <br>
      <% if @seller_page.user.id == current_user.id %>
        <p>You do not have any products yet.</p>
      <% else %>
        <p>This seller does not have any products yet.</p>
      <% end %>
    <% end %>
    <%# <%= link_to "Back", seller_page_path(params[:seller_page_id]) %> 
  </div>
</div>
