<% if current_user.seller_page %>
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Price</th>
        <th>Available</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.product_name %></td>
          <td><%= product.product_description %></td>
          <td><%= product.price %></td>
          <td><%= product.available %></td>
          <td><%= link_to 'Show', seller_page_product_path(product.seller_page_id, product) %></td>
          <td><%= link_to 'Edit', edit_seller_page_product_path(product.seller_page_id, product) %></td>
          <td><%= link_to 'Destroy', seller_page_product_path(product.seller_page_id, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_seller_page_product_path %>
<% else %>
  <h1>Oh no you don't have a seller page yet! Make one first</h1>
  <%= link_to 'New Seller Page', new_seller_page_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
