<p id="notice"><%= notice %></p>
  <% if @products.present? %>
    <h1>Products</h1>

    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Price</th>
          <th>Available</th>
          <th>Photo</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.product_name %></td>
            <td><%= product.product_description %></td>
            <td><%= product.price %></td>
            <td><%= product.available %></td>
            <td><%= image_tag product.image_url(:large) %></td>
            

            <% if product.seller_page.user_id == current_user.id %>
              <td><%= link_to 'Show', seller_page_product_path(product.seller_page_id, product) %></td>
              <td><%= link_to 'Edit', edit_seller_page_product_path(product.seller_page_id, product) %></td>
              <td><%= link_to 'Destroy', seller_page_product_path(product.seller_page_id, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
<div class="card lg:card-side bordered">
  <figure>
    <%= image_tag product.image_url(:large)%>
  </figure> 
  <div class="card-body">
    <h2 class="card-title"><%= product.product_name %></h2> 
    <p><%= product.product_description %></p> 
    <div class="card-actions">
      <button class="btn btn-primary">Buy Now</button> 
      <label for="my-modal-2" class="btn btn-ghost modal-button">More info</label> 
<input type="checkbox" id="my-modal-2" class="modal-toggle"> 
<div class="modal" data-theme="bumblebee">
  <div class="modal-box">
    <p>Enim dolorem dolorum omnis atque necessitatibus. Consequatur aut adipisci qui iusto illo eaque. Consequatur repudiandae et. Nulla ea quasi eligendi. Saepe velit autem minima.</p> 
    <div class="modal-action">
      <label for="my-modal-2" class="btn btn-primary">Accept</label> 
      <label for="my-modal-2" class="btn">Close</label>
    </div>
  </div>
</div>
    </div>
  </div>
</div> 

        <% end %>
      </tbody>
    </table>
    <br>
  <% else %>
  <br>
    <% if @seller_page.user_id == current_user.id %>
      <p>You do not have any products yet.</p>
    <% else %>
      <p>This seller does not have any products yet.</p>
    <% end %>
  <% end %>
<%= link_to "Back", seller_page_path(params[:seller_page_id]) %>

