<div class="card bordered">
  <div class="card-body">
    <% if @reviews.present? %>
      <div class="flex justify-between items-center">
      <%= link_to :back, class:"btn btn-primary-content" do %>
    <i class='bx bx-arrow-back text-lg' ></i>
    <% end %><%= paginate @reviews %>
      </div>
      <% @reviews.each do |review| %>
        <div class="card lg:card-side shadow-lg mb-6 mt-6" data-theme="bumblebee">
            <figure>

              <%= image_tag('review.svg', class:"placeholderImg py-10 px-10")%>

          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= review.rating %> out of 5
            </h2>
            <p><%= review.comment %></p>
            <div class="card-actions">
              <label for="<%=review.id%>" class="btn btn-primary-content modal-button">More info</label>
              <input type="checkbox" id="<%=review.id%>" class="modal-toggle">
              <div class="modal" data-theme="bumblebee">
                <div class="modal-box">
                  <div class="stats border border-base-300 mb-2">
                    <div class="stat">
                      <div class="stat-title">Rating</div>
                      <div class="stat-value break-all"><%= review.rating %> out of 5</div>
                      <div class="stat-actions">
                      <% if @seller_page.verified? %>
                          <div class="badge badge-info"> Verified Seller </div>
                        <% else %>
                          <div class="badge badge-info"> Seller not Verified </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="stat">
                      <div class="stat-title">Reviewer</div>
                      <div class="stat-value break-all"><%= review.reviewer_first_name %> <%= review.reviewer_last_name%></div>
                      <div class="stat-actions">
                      
                      </div>
                    </div>
                  </div>
                  <div class="stats shadow">
                    <div class="stat">
                      <div class="stat-title">Review</div>
                      <div class="stat-desc break-normal"><%=review.comment%></div>
                    </div>
                  </div>
                  <div class="modal-action">
                    <% if review.user_id == current_user.id %>
                      <%=link_to seller_page_review_path(@seller_page.slug, review), method: :delete, class:"btn btn-error" do%>
                        Delete
                      <% end %>
                    <% end %>
                    <label for="<%=review.id%>" class="btn">Close</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <br>
    <% else %>
      <br>
      <% if @seller_page.user.id == current_user.id %>
        <div class="card lg:card-side shadow-lg mb-6 mt-6" data-theme="bumblebee">
            <figure>

              <%= image_tag('empty.svg', class:"placeholderImg py-10 px-10")%>

          </figure>
          <div class="card-body">
            <h2 class="card-title">Sorry, No Reviews yet...
            </h2>
            <div class="card-actions">
              </div>
            </div>
          </div>
      <% else %>
        <div class="card lg:card-side shadow-lg mb-6 mt-6" data-theme="bumblebee">
            <figure>

              <%= image_tag('empty.svg', class:"placeholderImg py-10 px-10")%>

          </figure>
          <div class="card-body">
            <h2 class="card-title">Sorry, No Reviews yet...
            </h2>
            <div class="card-actions">
              <%= link_to new_seller_page_review_path(@seller_page.slug) do%>
              <button class="btn btn-primary items-center">Add a Review <i class='bx bx-plus text-lg bold ml-4' ></i></button>
              <% end %>
              </div>
            </div>
          </div>

      <% end %>
    <% end %>
    <%# <%= link_to "Back", seller_page_path(params[:seller_page_id]) %> 
  </div>
</div>






