<div class="card bordered">
  <div class="card-body">
    <% if @reviews.present? %>
      <div class="flex justify-between items-center">
      <%= link_to :back, class:"btn btn-primary-content" do %>
    <i class='bx bx-arrow-back text-lg' ></i>
    <% end %><%= paginate @reviews %>
      </div>
      <% @reviews.each do |review| %>
        <div class="card lg:card-side shadow-lg mb-6 mt-6" data-theme="bumblebee">
          <div class="card-body">
            <h2 class="card-title"><%= review.rating %> out of 5
            </h2>
            <p><%= review.comment %></p>
            <div class="card-actions">
              <label for="<%=review.id%>" class="btn btn-ghost modal-button">More info</label>
              <input type="checkbox" id="<%=review.id%>" class="modal-toggle">
              <div class="modal" data-theme="bumblebee">
                <div class="modal-box">
                  <div class="stats border border-base-300 mb-2">
                    <div class="stat">
                      <div class="stat-title">Rating</div>
                      <div class="stat-value break-all"><%= review.rating %> out of 5</div>
                      <div class="stat-actions">
                      <% if @seller_page.verified? %>
                          <div class="badge badge-info"> Verified Seller </div>
                        <% else %>
                          <div class="badge badge-info"> Seller not Verified </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="stat">
                      <div class="stat-title">Reviewer</div>
                      <div class="stat-value break-all"></div>
                      <div class="stat-actions">
                      
                      </div>
                    </div>
                  </div>
                  <div class="stats shadow">
                    <div class="stat">
                      <div class="stat-title">Review</div>
                      <div class="stat-desc break-normal"><%=review.comment%></div>
                    </div>
                  </div>
                  <div class="modal-action">
                    <label for="<%=review.id%>" class="btn">Close</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <br>
    <% else %>
      <br>
      <% if @seller_page.user.id == current_user.id %>
        <p>Sorry there are no reviews yet.</p>
      <% else %>
        <p>Sorry there are no reviews yet.</p>
      <% end %>
    <% end %>
    <%# <%= link_to "Back", seller_page_path(params[:seller_page_id]) %> 
  </div>
</div>






