<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<% if !@reviews.present? %>
  <h1>Sorry there are no reviews yet.</h1>
<% else %>
  <table>
      <thead>
        <tr>
          <th>Comment</th>
          <th>Rating</th>
          <th>By</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.comment %></td>
            <td><%= review.rating %></td>
            <td><%= review.seller_page.user.first_name%></td>
            <td><%= review.created_at.to_formatted_s(:long) %></td>
            <td><%= link_to 'Show', seller_page_review_path(@seller_page.id, review.id) %></td>
        <% end %>
      </tbody>
    </table>

  <br>

<% end %>


<%= link_to "Back", :back %>
